/*tipografía*/
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

body {
background-color: rgb(247, 255, 227);
font-family: Arial, Helvetica, sans-serif;
/*font-family: unset;*/
}
/* comentario*/

main {
    background-color: #3F4D32;
    width: 800px;
    max-width: 95%;
    margin: 0 auto 0 auto;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.199);
    color: #8b9d73;
    padding: 50px 30px 20px 10px;
    margin: 50px;
    text-align: center;
}

/*Botón de arriba*/
nav {
    border-bottom: 2px solid black;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #3F4D32;
    padding: 10px;
    background-color: #C6DEA4;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/*HOVER*/
nav a:hover {
     color: rgb(87, 46, 2);
     background-color: rgb(236, 235, 162);
     border-bottom: 1px solid rgb(255, 255, 255);
     border-right: 1px solid rgb(255, 255, 255);
     border-top: 1px solid black;
     border-left: 1px solid black;
}

section {
    color: #f8ffe1;
    display: flex;
    gap: 20px;
    padding: 50px;
}

/*frase*/
.frase-footer {
    text-align: center;
}

.frase-footer p {
    margin: 0;
    font-size: 24px;
    font-style: italic;
}

.frase-footer span {
    display: block;
    text-align: right;
    margin-right: 25%;
    margin-top: 8px;
    font-family: "Ms Madi", cursive;
    font-size: 28px;
}

.centrado {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.adaptable{
    display:block;
    width= 100%;  
    border: 1px solid , #666;
}

@media screen and (max-width:600px){
    header, footer{
        padding: 20px;
    }
    section{
        display: block;
    }
}